# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
# openssl rand -base64 32
NEXTAUTH_SECRET=

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://root:root@xxx.supabase.co:3306/postgres"
NEXT_PUBLIC_GSI_WEBSOCKET_URL="http://localhost:3000/"
