html,
body {
  @apply !bg-gray-800;
  scrollbar-width: thin;
  scrollbar-color: #3e4155 transparent;
}

::-webkit-scrollbar {
  width: 6px;
  outline: none;
  border: none;
  background: transparent;
  padding: 3px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent/10;
  border-radius: 6px;
}

a:not(.ant-btn) {
  @apply text-purple-400;
}
