@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

/* Geist UI stuff */
.caption {
  @apply !text-dark-300;
}

.title:not(.command) {
  @apply flex items-center justify-between;
}

.title {
  @apply pb-2;
}

.title h3 {
  @apply !text-lg !font-medium !leading-6 !text-white;
}

.subtitle {
  @apply !text-sm !text-dark-300;
}

.collapse {
  @apply !border-dark-700 !shadow-none;
}

.collapse .content {
  @apply text-sm text-dark-300;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.mantine-Checkbox-label {
  @apply font-normal text-dark-300;
}

.mantine-Switch-root {
  @apply flex;
}
