@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

@import 'antd/dist/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-4 {
    text-shadow: #333 3px 0px 0px, #333 2.83487px 0.981584px 0px, #333 2.35766px 1.85511px 0px, #333 1.62091px 2.52441px 0px, #333 0.705713px 2.91581px 0px, #333 -0.287171px 2.98622px 0px, #333 -1.24844px 2.72789px 0px, #333 -2.07227px 2.16926px 0px, #333 -2.66798px 1.37182px 0px, #333 -2.96998px 0.42336px 0px, #333 -2.94502px -0.571704px 0px, #333 -2.59586px -1.50383px 0px, #333 -1.96093px -2.27041px 0px, #333 -1.11013px -2.78704px 0px, #333 -0.137119px -2.99686px 0px, #333 0.850987px -2.87677px 0px, #333 1.74541px -2.43999px 0px, #333 2.44769px -1.73459px 0px, #333 2.88051px -0.838247px 0px;

  }
  .font-outline-2 {
    text-shadow: 1px 0 0 #333, 0 -1px 0 #333, 0 1px 0 #333, -1px 0 0 #333;
  }
}


.animate-border-rgb {
  position: relative;
}

.animate-border-rgb:before, .animate-border-rgb:after {
  @apply rounded-md;

  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #ff0084, #0033ff, #b700ff, #ff0000, #fb0094,
  #ff00f2, #0066ff, #9900ff, #ff0066);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-border-rgb:after {
  filter: blur(10px);
}

#__next {
  min-height: 100%;
}

/* Geist UI stuff */
.caption {
  @apply !text-dark-300;
}

.title:not(.command) {
  @apply flex items-center justify-between;
}

.title {
  @apply pb-2;
}

.title h3 {
  @apply !text-lg !font-medium !leading-6 !text-white;
}

.subtitle {
  @apply !text-sm !text-dark-300;
}

.collapse {
  @apply !border-dark-700 !shadow-none;
}

.collapse .content {
  @apply text-sm text-dark-300;
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.mantine-Checkbox-label {
  @apply font-normal text-dark-300;
}

.mantine-Switch-root {
  @apply flex;
}
